# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency files
*.d

# Executable(s)
.exe
amikopay
amikotest

#program output
debug.log

